# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/webEmails/dist
/webEmails/tmp
/webEmails/out-tsc

# dependencies
/webEmails/node_modules


#keys
/pythonBatch/test/results.xml
/pythonBatch/log/*
!/pythonBatch/log/TextAnalyzer.log
/pythonBatch/logOld/*
!/pythonBatch/logOld/TextAnalyzer.log
/pythonBatch/config/*
/pythonBatch/test/config/*
/pythonBatch/test/log/*
!/pythonBatch/test/log/TextAnalyzer.log
/pythonBatch/test/.cache/*
/pythonBatch/.cache/*
config.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
/pythonBatch/pyproj/log/*
/pythonBatch/pyproj/logOld/*
/pythonBatch/test/log/*	
/pythonBatch/test/logOld/*
/pythonBatch/test/__pycache__/*

# e2e
/webEmails/e2e/*.js
/webEmails/e2e/*.map

# System Files
.DS_Store
Thumbs.db
*.pyc
